* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: #110f0f;
}

h1, h2, h3 {
    font-family: Georgia, Times, serif;
}

.navbar {
    width: 100%;
    min-height: 30%;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../images/banner.jpg);
    padding: 10px;
}

.navbar h1 {
    font-size:4em;
    margin: 20px 0;
    letter-spacing: 5px;
    color: #fff;
}

.navbar img {
    width: 15em;
    margin-bottom: 20px;
}

.container h2 {
    margin: 30px 5px 0;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

.container span {
    color: #e50914;
}

section {
    color: #fff;
    width: 90%;
    height: 330px;
    margin: 40px auto 0;
    border: 3px solid #e50914;
    padding: 20px;
    border-radius: 50px;
    position: relative;
}

h3 a {
    color: #fff;
    text-decoration: none;
    font-family: Georgia, Times, serif;
}

.numer {
    display: inline-block;
    font-size: 10em;
    transform: translateY(-50%);
}

section img {
    padding: 0 20px;
    border-left: 3px solid #e50914;
}

.content {
    display: inline-block;
    position: absolute;
}

.content h3 {
    font-size: 2.3em;
    margin-bottom: 10px;     
}

.content p {
    font-size: 1.5em;
    padding-right: 20px;
}

