* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #110f0f;
}

.navbar {
    width: 100%;
    min-height: 30%;
    text-align: center;
    background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)), url(../images/banner.jpg);
    padding: 10px;
}

.navbar h1 {
    font-size:4em;
    margin: 20px 0;
    letter-spacing: 5px;
    color: #fff;
}

.navbar img {
    width: 15em;
    margin-bottom: 20px;
}

.container h2 {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 2.5em;
}

.container span {
    color: #E50914;
}